<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
<body>
    <h3>本の検索画面</h3>
    {% if error != null %}
    <p style="color: red">{{error}}</p>
    {% endif %}
    <form action="{{url_for('search_book')}}" method="post">
      タイトル:<input type="text" name="title" value="{{title}}" /required><br />
      <button type="submit">検索</button>
    </form>
</body>
</html>
</head>