<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
  </head>
  <body>
    <h1>マイページ</h1>
    <h2>ようこそ</h2>
    <form action="{{url_for('logout')}}">
      <button type="submit">ログアウト</button>
    </form>
    <form action="{{url_for('book_tou')}}">
      <button type="submit">本の登録</button>
    </form>
    <form action="{{url_for('book_list')}}">
      <button type="submit">一覧</button>
    </form>
    <form action="{{url_for('book_delete')}}">
      <button type="submit">削除</button>
    </form>
    <form action="{{url_for('search_book_form')}}">
      <button type="submit">検索</button>
    </form>
    
    </body>
</html>
